<%- include('partials/navbar.ejs') %>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Thanaphon Website</title>
</head>
<body>
  <div class="container justify-content-center">
    <h1>THANAPHON THANUSAN</h1>
    <div class="d-flex flex-row">
      <div class="p-2">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem
        et voluptas necessitatibus architecto. Soluta id, perspiciatis aperiam
        placeat suscipit, blanditiis ducimus velit repudiandae quam veniam
        necessitatibus in vitae nemo aliquam!
      </div>
      <div class="p-2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt sit,
        exercitationem sint ducimus fuga odit iusto voluptates non eaque
        cupiditate culpa aperiam! Minima at eius saepe unde suscipit non illum!
      </div>
    </div>
    <div class="d-flex flex-row">
      <div class="p-2">
        <img src="images/profile.jpg" alt="" />
      </div>
      <div class="p-2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum tempora
        ut, exercitationem et dicta dolorum consequuntur, veniam, quis dolor
        inventore facilis assumenda repudiandae sed fugiat deserunt voluptatibus
        error! Saepe, totam.
      </div>
    </div>
  </div>
</body>

<%- include('partials/footer.ejs') %>
