<%- include('partials/navbar.ejs') %>
<body>
  <div class="container ">
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Post here!!!</label>
      <form action="/submit_post" method="POST">
        <textarea
          class="form-control"
          id="textPost"
          name="text"
          rows="3"
        ></textarea>
        <button type="submit">Post</button>
      </form>
    </div>
    <% if (locals.textArray) { %>
      <% for( let index = 0; index < locals.textArray.length; index++ ) { %>
        <div class="card bg-dark mx-2 my-2" style="width: 18rem">
          <img class="card-img-top" src="images/demo.png" alt="Card image cap" />
          <div class="card-body">
            <h5 class="card-title">New post</h5>
            <p class="card-text">
              <%= locals.textArray[index] %>
            </p>
            <button onclick="editPost()">Edit</button>
            <button onclick="deletePost()">Delete</button>
          </div>
        </div>
      <% } %>
      
    <% } else { %>
      <h1>No post yet</h1>
    <% } %>
  </div>
</body>

<%- include('partials/footer.ejs') %>
