h1 {
  font-size: 10.5rem;
}
img {
  width: 100%;
  height: auto;
}

html,body {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    background: #000;
    color: white;
  }